# Project exclude paths
/.gradle/
/ASCII Text Signature/task/build/
/ASCII Text Signature/task/out/
/ASCII Text Signature/task/out/production/classes/
/Topics/Functions as objects/Theory/out/
/Topics/Functions as objects/Theory/out/production/classes/
/Topics/Lambda expressions/Theory/out/
/Topics/Lambda expressions/Theory/out/production/classes/